<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{139,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,130}}</string>
                <key>sourceSize</key>
                <string>{139,130}</string>
            </dict>
            <key>alien_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,130}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alien.png</string>
            <key>size</key>
            <string>{289,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bdf77b802f3f9467f4342d2de415294:8317edbc8632c2cb1d1ee402fb7f1255:de81843e51d646d6e87dbbac08c0c15a$</string>
            <key>textureFileName</key>
            <string>alien.png</string>
        </dict>
    </dict>
</plist>
