<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{60,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,17}}</string>
                <key>sourceSize</key>
                <string>{60,17}</string>
            </dict>
            <key>hourse.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,48},{202,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{202,174}}</string>
                <key>sourceSize</key>
                <string>{202,180}</string>
            </dict>
            <key>repair.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{32,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>rock_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,44}}</string>
                <key>sourceSize</key>
                <string>{420,44}</string>
            </dict>
            <key>rock_test2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{56,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,220}}</string>
                <key>sourceSize</key>
                <string>{56,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{428,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232e2191ac14a178c54fef77fcd028db:0372f6a35a92d53e1460abfc9ef3a4f6:458de8e5649215d6f4316a271776e5d5$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
