<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runner0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,113}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{115,113}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{61,133}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{61,133}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,137},{55,137}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{55,137}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,115},{73,135}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{73,135}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{113,111}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{113,111}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{79,127}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{79,127}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,236},{51,133}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,18},{51,133}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runner7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,252},{79,131}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{79,131}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>runnerJumpDown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,371},{73,125}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,10},{73,125}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
            <key>runnerJumpDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{97,129}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,10},{97,129}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
            <key>runnerJumpUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,276},{57,131}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,9},{57,131}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
            <key>runnerJumpUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,117},{55,117}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,10},{55,117}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
            <key>runnerJumpUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,385},{61,105}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,10},{61,105}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
            <key>runnerJumpUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{101,121}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{101,121}}</string>
                <key>sourceSize</key>
                <string>{217,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>running_test.png</string>
            <key>size</key>
            <string>{305,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b62f5070c37b79dba2930b0d0afb837:381d719b64f3c5dc43a374ea656372d1:c43da3cba161216d433bfe63f7126505$</string>
            <key>textureFileName</key>
            <string>running_test.png</string>
        </dict>
    </dict>
</plist>
