<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runner0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,384},{115,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,112}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>runner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,137},{60,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,132}}</string>
                <key>sourceSize</key>
                <string>{66,134}</string>
            </dict>
            <key>runner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,137}}</string>
                <key>sourceSize</key>
                <string>{60,137}</string>
            </dict>
            <key>runner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{72,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,134}}</string>
                <key>sourceSize</key>
                <string>{74,136}</string>
            </dict>
            <key>runner4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,110}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>runner5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,136},{80,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{80,127}}</string>
                <key>sourceSize</key>
                <string>{86,129}</string>
            </dict>
            <key>runner6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{51,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,132}}</string>
                <key>sourceSize</key>
                <string>{57,138}</string>
            </dict>
            <key>runner7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{80,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,131}}</string>
                <key>sourceSize</key>
                <string>{84,133}</string>
            </dict>
            <key>runnerJumpDown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,271},{75,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{77,128}</string>
            </dict>
            <key>runnerJumpDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{97,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{97,132}}</string>
                <key>sourceSize</key>
                <string>{101,134}</string>
            </dict>
            <key>runnerJumpUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{58,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,133}}</string>
                <key>sourceSize</key>
                <string>{60,133}</string>
            </dict>
            <key>runnerJumpUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,265},{55,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,117}}</string>
                <key>sourceSize</key>
                <string>{57,117}</string>
            </dict>
            <key>runnerJumpUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,401},{62,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,107}}</string>
                <key>sourceSize</key>
                <string>{64,107}</string>
            </dict>
            <key>runnerJumpUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{101,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,122}}</string>
                <key>sourceSize</key>
                <string>{105,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>running_test.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b756a82d459793e1b713ce67f0ba76:5004baccb0ac7b7e459325c55a098589:c43da3cba161216d433bfe63f7126505$</string>
            <key>textureFileName</key>
            <string>running_test.png</string>
        </dict>
    </dict>
</plist>
