<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>runner0.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,55},{114,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{114,112}}</string>
			<key>sourceSize</key>
			<string>{117,114}</string>
		</dict>
		<key>runner1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,128},{60,132}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{60,132}}</string>
			<key>sourceSize</key>
			<string>{66,134}</string>
		</dict>
		<key>runner2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{54,136}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{54,136}}</string>
			<key>sourceSize</key>
			<string>{60,137}</string>
		</dict>
		<key>runner3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,55},{72,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{72,134}}</string>
			<key>sourceSize</key>
			<string>{74,136}</string>
		</dict>
		<key>runner4.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,270},{113,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{113,110}}</string>
			<key>sourceSize</key>
			<string>{117,114}</string>
		</dict>
		<key>runner5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,477},{79,127}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{79,127}}</string>
			<key>sourceSize</key>
			<string>{86,129}</string>
		</dict>
		<key>runner6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,247},{51,132}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{51,132}}</string>
			<key>sourceSize</key>
			<string>{57,138}</string>
		</dict>
		<key>runner7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,397},{79,131}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{79,131}}</string>
			<key>sourceSize</key>
			<string>{84,133}</string>
		</dict>
		<key>runnerJumpDown0.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,477},{74,127}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,127}}</string>
			<key>sourceSize</key>
			<string>{77,128}</string>
		</dict>
		<key>runnerJumpDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,299},{97,131}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{97,131}}</string>
			<key>sourceSize</key>
			<string>{101,134}</string>
		</dict>
		<key>runnerJumpUp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,189},{57,132}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{57,132}}</string>
			<key>sourceSize</key>
			<string>{60,133}</string>
		</dict>
		<key>runnerJumpUp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,0},{54,117}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{54,117}}</string>
			<key>sourceSize</key>
			<string>{57,117}</string>
		</dict>
		<key>runnerJumpUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,381},{62,106}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{62,106}}</string>
			<key>sourceSize</key>
			<string>{64,107}</string>
		</dict>
		<key>runnerJumpUp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,168},{101,122}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{101,122}}</string>
			<key>sourceSize</key>
			<string>{105,124}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>running_test.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>running_test.png</string>
	</dict>
</dict>
</plist>
